body {
    display: flex;
    justify-content: center;
}

.window {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid black 2px;
    height: 480px;
    width: 780px;
}