body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.size {
    margin-top: 100px;
    width: 1080px;
    height: 720px;
    border: 5px solid #ffa500;
    border-radius: 25px;
    align-items: center;
}

.screen1 {
    /* justify-content: space-evenly; */
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: solid black 2px;
    border-radius: 25px;
}

.screen2 {
    /* justify-content: space-evenly; */
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid orange 2px;
    height: 480px;
    width: 780px;
    border-radius: 25px;
}

/* .inactive {
    display: none;
} */